.back {
    margin-top: 100px;
    color: #fff;
    text-align: center;
}

.form-custom {
    // box-shadow: -1px 3px 20px 21px rgba(255, 255, 255, 0.1);
    width: 300px;
    margin-left: 39%;
}

.btn-custom {
    margin-top: 30px;
    width: 300px;
    margin-left: 39%;
}

.btn-custom:hover {
    background-color: rgb(0, 255, 157);
}

.forgot-password-custom {
    margin-left: 6%;  
}


.forgot-password-custom2 {
    margin-left: 11%;  
}

.remember {
    margin-left: 11%;   
}


body {
    background-color: rgb(9, 41, 145);

}